:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    
    
}
body {
    font-family: Roboto, sans-serif; 
    background-color: var(--primary-white-color);
    
}
.link {
    text-decoration: none; 
    color: var(--title-text-color);
}
ul {
    list-style-type: none;
}

.header {
font-weight: 500;
font-size: 14px;
line-height: 1.4;
letter-spacing: 0.02em;
}


.primary-logo.logo-accent {
    font-family: Raleway, sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.9;
   letter-spacing: 0.03em; }

   .logo-accent {
    color: var(--accent-color);
}

.main-nav .current {
    color: var(--accent-color);
}

.contacts-header :hover, 
.contacts-header :focus { color: var(--accent-color); }
    
.hero {
    background-color: #2F303A;
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.hero-button {
cursor: pointer;
background-color: var(--accent-color);
font-family: Roboto;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: #FFFFFF;
}

.advantages-list-item {
font-family: Roboto;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}
.advantages-title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--title-text-color);
}

.about-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}

.team {
    background-color: #F5F4FA;
}
.team-primary-title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
}
.team-secondary-title {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
}

.team-profession {  
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.footer {
    background-color: #2F303A;
}
.footer-logo {
color: var(--primary-white-color);
text-decoration: none;
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
}

.footer-link {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration: none;
color: var(--primary-white-color);
}

.footer-contacts {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration: none;
}