:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    
    
}
body {
    font-family: Roboto, sans-serif; 
    background-color: var(--primary-white-color);
    
}
.link {
    text-decoration: none; 
    color: var(--title-text-color);
}
ul {
    list-style-type: none;
}

.header {
font-weight: 500;
font-size: 14px;
line-height: 1.4;
letter-spacing: 0.02em;}

.logo-accent {
    color: var(--accent-color);
}
.primary-logo.logo-accent {
    font-family: Raleway, sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.9;
   letter-spacing: 0.03em; }

.main-nav .current {
    color: var(--accent-color);
}

.contacts-header :hover, 
.contacts-header :focus { color: var(--accent-color); }
    
.hero {
    background-color: #2F303A;
}

.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

.button {
cursor: pointer;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
background-color: var(--accent-color);
font-family: Roboto;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: #FFFFFF;
}